* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f2efea;
  color: #1d1d1d;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Raleway", "Oswald", sans-serif;
   background-image: url("images/5537.jpg");
   background-size: auto 100%;
  overflow-x:hidden;
}
/* page sections style */
.gradientStyle,
footer p {
  background: linear-gradient(90deg, #f81420 -5%, #37114d 102%);
  border: none;
}
footer p {
  font-weight: 500;
  float: left;
  margin: 1rem 1.5rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.containerBlack {
  padding: 1rem 3rem 2rem 3rem;
  background-color: #252525;
  box-shadow: 3px 5px 5px 0px #202020;
  color: #f8f8f8;
  font-size: 1.5rem;
  line-height: 3rem;
  min-height: 500px;
  max-width: 80%;
}
.page {
  width: 100%;
  margin: 3rem 0 5rem 0;
  text-align: center;
}

/*navigation bar   */
.navbar-brand img {
  float: left;
  margin-left: 20%;
  margin-top: 0.5%;
}
.navItems,
.navItemsHid {
  font-size: 1.1rem;
  float: right;
  margin-right: 5%;
  font-weight: 100;
}
.navItems a:link,
a.w3-button:link,
.navItems a:visited {
  text-decoration: none;
  vertical-align: text-bottom;
  color: #252525;
}

.navItems a:hover,
.navItems a:active {
  background-color: #1f052b;
  color: #ffffff;
}

/* button style */
.btn:hover {
  background: linear-gradient(90deg, #f81420 -25%, #37114d 100%);
  border: none;
  color: #f2efea;
}
.btn {
  min-width: 120px;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 1.3rem;
  border: none;
  color: #f2efea;
}
#resumeBtn {
  background-color: #757575;
  margin: 1rem auto 1rem auto;
}
#sendBtn {
  margin: 2.5rem auto;
}
a:link {
  color: #22282e;
  text-decoration-style: none;
}

/* scrolling part */
.scrollPartRight,
.scrollPartLeft {
  font-family: "Raleway";
  writing-mode: vertical-lr;
  color: rgb(146, 146, 146);
  text-align: left;
  vertical-align: top;
  font-size: 1rem;
  letter-spacing: 3pt;
  margin-left: 0;
}
.scrollPartLeft {
  transform: rotate(180deg);
}
.scrollPartRight {
  float: right;
}
.subHeading:before {
  content: "\00a0\00a0\00a0";
  text-decoration-line: line-through;
  font-size: small;
}
.subHeading {
  font-size: 2rem;
  font-family: "Raleway";
  font-weight: 500;
  letter-spacing: 10pt;
}

@media only screen and (max-width: 720px) {
  .helloWorld p {
    max-width:80%;
    text-align: center;
    padding:2rem;
  }
  .navbar-brand img {
    margin-top: 3%;
  }
  .eduTable {
    min-width: 90%;
    margin-bottom: 30%;
  }
  .about {
    padding-right: 1rem;
  }
  #my_skills img {
    margin-top: 30%;
    min-width: 80%;
  }
  .introName {
    float: left;
    margin-left: -20px;
  }
}

/* Hello World part */
.helloWorld p {
  font-family: "Oswald";
  margin: 5% 0 5% 0;
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 0px 1.2px 1.2px #202020;
  letter-spacing: 1.2rem;
}

/* Intro part/ gradient background */
#introPart {
  min-height: 280px;
  font-family: "Raleway";
  text-align: center;
}
.intro {
  text-align: left;
  margin-top: 2%;
  margin-left: 10%;
}

.introName {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 0px 1px 2px #202020;
}
.myName {
  color: #f2efea;
}

.introJob {
  color: #f2efea;
  font-size: 1.5rem;
  text-shadow: 0px 1px 1px #202020;
}
.photo {
  margin: 0 auto;
  max-width: 280px;
  box-shadow: 6px 1px 20px #1e0822;
  border-radius: 50%;
}

/* quote part */
.jQuote {
  font-family: "Raleway";
  margin: 30px 0;
  padding-top: 2%;
  text-align: right;
}
.jQuote_text {
  font-size: 1.6rem;
  font-style: italic;
}
.jQuote_name {
  font-size: 1.2rem;
}

/* Page second -my journey and education*/
#my_journey {
  font-family: "Raleway";
  margin-top: 10%;
  margin-right: 2rem;
  padding: 2rem;
  color: #1d1d1d;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left;
}
td {
  vertical-align: top;
  border-bottom: 0.2rem solid #ddd;
  padding: 0.7rem;
}

.about p,
.eduTable {
  width: 95%;
  margin: 2rem 2rem 5rem 0;
}
/* Page third -skill part */
#my_skills {
  padding: 10% 0;
  text-align: center;
}
#my_skills img {
  max-width: 700px;
}

/* Page four -contact part and contact_form*/
#contact {
  font-family: "Raleway";
  background: linear-gradient(#363636 -10%, #111111 110%);
  color: #eeeeee;
  padding-top: 3%;
}
.contactInfo {
  margin: 4rem auto;
  text-align: center;
  font-weight: 100;
  font-size: 1.2rem;
  width: 90%;
}
.contactInfo h4 {
  font-weight: 700;
}
.socIcon img {
  margin-top: 4rem;
  padding: 10px;
  max-width: 12%;
  min-width: 10%;
}

.contactForm {
  font-family: "Raleway";
  max-height: 900px;
  color: #f2efea;
  width: 80%;
  margin: 3rem auto;
}
.contactForm h3 {
  margin: 3rem auto;
  font-weight: 700;
}
input[type="tel"],
input[type="email"],
input[type="text"],
select {
  background-color: #252525;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  margin: 1rem auto;
  width: 80%;
}
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="text"]:focus {
  border: none;
  background-color: #424242;
  color: #f2efea;
}
