@import "skill.css";

.gradientStyle,
footer p {
  background: linear-gradient(90deg, #f81420 -5%, #37114d 102%);
  border: none;
}
.btn:hover {
  background: linear-gradient(90deg, #f81420 -25%, #37114d 100%);
  border: none;
  color: rgb(228, 228, 228);
}
.btn {
  min-width: 120px;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 1.3rem;
  border: none;
}
.resumeBtn {
  float: right;
  background-color: #757575;
  margin-top: 1rem;
}
.sendBtn {
  margin: 2.5rem auto;
}
.container {
  margin: 0 auto;
  width: 95%;
  text-align: center;
}

@media only screen and (min-width: 1500px) {
  .body {
    font-size: 2rem;
  }
  .container {
    min-width: 70%;
  }
  .Navbar {
    margin: 4rem auto;
    max-width: 70%;
  }
  .helloWorld {
    margin: 0 auto 5rem auto;
    font-size: 5rem;
  }
  #introPart {
    min-height: 450px;
    text-align: left;
    width: fit-content;
  }
  .photo img {
    min-width: 450px;
  }
  .page {
    margin: 50rem 0;
    min-height: fit-content;
  }
  .jQuote_text {
    font-size: 30rem;
  }
  .intro p.introName {
    font-size: 8rem;
  }

  .contactPart {
    max-width: 80%;
    margin: auto;
    padding: 5rem;
  }
  .socIcon a img {
    max-width: 15%;
  }
}

.containerBlack {
  padding: 1rem 3rem 2rem 3rem;
  background-color: #252525;
  box-shadow: 3px 5px 5px 0px #202020;
  color: #f8f8f8;
  font-size: 1.5rem;
  line-height: 3rem;
}
.page {
  width: 100%;
  margin: 3rem 0 10rem 0;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f2efea;
  color: #1d1d1d;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Raleway", "Oswald", sans-serif;
}

.wrapper {
  background-image: url("images/5537.jpg");
  background-size: auto;
}
/* navigation */
.Navbar {
  display: flex;
  padding: 0.5rem;
  text-align: left;
  font-weight: 100;
}
.Navbar__Items {
  display: flex;
  line-height: 2rem;
  text-align: center;
  padding-top: 1rem;
  height: 3rem;
}

@media only screen and (max-width: 800px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    display: none;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    cursor: pointer;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
}
.Navbar__Link-toggle {
  align-self: flex-end;
  display: initial;
  position: absolute;
  cursor: pointer;
  padding: 2% 5%;
}
.Navbar__Link a {
  text-decoration: none;
  vertical-align: text-bottom;
  font-weight: 100;
}
.Navbar__Link a:visited,
.Navbar__Link a:hover {
  border: 1px solid #363636;
  background: none;
  color: #58687a;
  border-radius: 1rem;
  padding: 7px;
}

/* greetengs */
.helloWorld p {
  text-align: center;
  margin: 4% auto 4% auto;
  font-size: 6rem;
  font-weight: 100;
  width: 100%;
  text-shadow: 0px 1.2px 1.2px #202020;
  letter-spacing: 1.5rem;
}
/* intro part */
#introPart {
  min-height: 280px;
  width: 100%;
}
.intro {
  padding: 2rem 1rem;
  text-align: right;
}

.introName {
  font-family: "Raleway";
  font-size: 5rem;
  text-shadow: 0px 1px 1px #202020;
}
.myName {
  color: #eeeeee;
}

.introJob {
  color: #eeeeee;
  font-size: 1.5rem;
  text-shadow: 0px 1px 1px #202020;
  font-family: "Raleway";
}
.photo {
  margin: auto;
  max-width: 280px;
  box-shadow: 20px 2px 9px #1e0822;
  border-radius: 50%;
}

/* quote */
.jQuote {
  font-family: "Roboto Light";
  margin: 30px 0;
  padding-top: 2%;
}
.jQuote_text {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 1.5rem;
}
.jQuote_name {
  font-size: 1.1rem;
}

/* Page second -my journey */
#my_journey {
  margin-top: 10%;
  color: #1d1d1d;
  font-size: 1.1rem;
  line-height: 2rem;
}
h2 {
  text-align: left;
}
td {
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  padding: 0.7rem;
}

.eduTable {
  width: 90%;
  text-align: left;
  margin-top: 3rem;
  font-family: sans-serif;
}
.about p {
  width: 90%;
  text-align: justify;
  margin-top: 3rem;
  padding: 0 1rem 0 0;
}

/* Page third -skill part */
.skillPart img {
  max-width: 80%;
}

/* Page four -contact part */
#contact {
  background: linear-gradient(#363636 -10%, #111111 110%);
  color: #eeeeee;
}
.contactForm {
  max-height: 900px;
  color: #f2efea;
  width: 80%;
  margin: 3rem auto;
}
.contactForm h3 {
  margin: 3rem auto;
  font-weight: 800;
}

.contactInfo {
  margin: 3rem auto;
  text-align: center;
  font-weight: 100;
  font-size: 1.2rem;
  width: 90%;
}
.contactInfo h4 {
  font-weight: 800;
}
.socIcon img {
  margin-top: 4rem;
  padding: 10px;
  max-width: 15%;
}

input[type="tel"],
input[type="email"],
input[type="text"],
select {
  background-color: #252525;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  margin: 1rem auto;
  width: 80%;
}
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="text"]:focus {
  border: none;
  background-color: #424242;
}
/* footer part */
footer p {
  margin: 10px 0 10px 20px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
